<div ng-show="students.length > 0">
    <div>
        <div class="well col-lg-12" style="margin-bottom: 0; padding: 4px">
            <div class="col-lg-6">
                {{ name }}
            </div>
            <div class="col-lg-2">
                <a href="" ng-click="contactListGroupCtrl.addGroupFromContactList()">Add</a>
            </div>
            <div class="col-lg-2" ng-show="showExpand">
                <a href="" ng-click="contactListGroupCtrl.expand()">Expand</a>
            </div>
            <div class="col-lg-2" ng-show="showCollapse">
                <a href="" ng-click="contactListGroupCtrl.collapse()">Collapse</a>
            </div>
        </div>
    </div>
    <div ng-show="showGroupContent">
        <div ng-repeat="student in students">
            <contact-list-student data="student"></contact-list-student>
        </div>
    </div>
</div>