<div class="panel panel-default">
    <ul class="nav nav-pills nav-stacked">
        <li id="li_home"><a href="" ng-click="menuCtrl.goTo('home')">Home</a></li>
        <li id="li_profile" ><a href="" ng-click="menuCtrl.goTo('profile')">Profile</a></li>
        <li id="li_messages"><a href="" ng-click="menuCtrl.goTo('messages')">Messages</a></li>
        <li id="li_groups"><a href="" ng-click="menuCtrl.goTo('groups')">Groups</a></li>
        <li id="li_administration"><a href="" ng-click="menuCtrl.goTo('administration.overview')">Administration</a></li>
        <li id="li_logout"><a href="" ng-click="menuCtrl.goTo('logout')">Logout</a></li>
    </ul>
</div>
