<div class="col-lg-12" style="padding: 0">
    <div ng-show="loading">
        <img src="src/img/loading_spinner.gif" alt="Loading..." style="width: 60px; height: 60px"/>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="showInfo">
        <button type="button" class="close" ng-click="groupCtrl.hideInfo()"><span aria-hidden="true">&times;</span></button>
        {{ info }}
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="showErrorMessage">
        <button type="button" class="close" ng-click="groupCtrl.hideErrorMessage()"><span aria-hidden="true">&times;</span></button>
        {{ errorMessage }}
    </div>
    <div class="panel panel-default" style="margin: 0">
        <div class="panel-heading col-lg-12">
            <div style="float: left">
                <b>{{ name }}</b>
            </div>
            <div>
                <a href="" ng-click="groupCtrl.edit()" ng-show="userIsAdmin"><span class="glyphicon glyphicon-pencil" style="float: left; margin-left: 10px"></span></a>
            </div>
            <div style="float: right">
                <b>Created by: </b> {{ creatorName }}
            </div>
        </div>
        <div class="panel-body" style="padding: 0">
            <div class="col-lg-12" style="margin: 15px">
            <div class="col-lg-6" ng-show="!showContactList && !showAdminList">
                <div class="col-lg-12">
                    <b>Members:</b>
                </div>
                <div class="col-lg-6" style="height: 150px; overflow-y: scroll; padding: 0; margin: 0; border: 1px solid #ddd; border-radius: 4px;">
                    <div ng-repeat="member in members | orderBy: 'firstname'">
                        <member-item data="member"></member-item>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-default" ng-click="groupCtrl.showContactList()" ng-show="userIsAdmin">Add new members</button>
                </div>
            </div>
            <div class="col-lg-10" ng-show="showContactList">
                <div class="col-lg-12">
                    <b>Add members:</b>
                </div>
                <div class="col-lg-12">
                    <student-contact-list parent-controller="controller" type="group" id="id"></student-contact-list>
                </div>
            </div>
            <div class="col-lg-6" ng-show="!showContactList && !showAdminList">
                <div class="col-lg-12">
                    <b>Administrators:</b>
                </div>
                <div class="col-lg-6" style="height: 150px; overflow-y: scroll; padding: 0; margin: 0; border: 1px solid #ddd; border-radius: 4px;">
                    <div ng-repeat="administrator in administrators | orderBy: 'firstname'">
                        <member-item data="administrator"></member-item>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-default" ng-show="userIsAdmin">Add new administrators</button>
                </div>
            </div>
            </div>
            <div class="col-lg-12" style="border: 1px solid #ddd; border-radius: 4px; padding: 0">
                <div class="col-lg-6" style="margin-top: 15px">
                    <b>Topics:</b>
                </div>
                <div class="col-lg-6" style="padding: 0">
                    <button class="btn btn-primary" ng-click="groupCtrl.newTopic()" style="float: right; margin: 10px"><span class="glyphicon glyphicon-plus"></span> New topic</button>
                </div>
                <div class="list-group col-lg-12" style="padding: 0; margin: 0">
                    <div ng-repeat="topic in topics">
                        <topic-overview-entry data="topic" user-is-admin="userIsAdmin"></topic-overview-entry>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>