<div class="panel panel-default">
    <div class="panel-heading col-lg-12" style="padding: 4px">
        <div class="col-lg-4">
            <ol class="breadcrumb" style="margin-bottom: 0; float: left">
                <li style="font-size: 1.2em"><b>Administration</b></li>
                <li><a href="" ng-click="administrationCtrl.goToOverview()">Overview</a></li>
            </ol>
        </div>
        <div class="col-lg-8" style="padding-top: 3px">
            <ol class="breadcrumb" style="margin-bottom: 0; float: right">
                <li><a href="" ng-click="administrationCtrl.addUser()"><span class="glyphicon glyphicon-plus"></span> Add custodian</a></li>
                <li><a href="" ng-click="administrationCtrl.addStudent()"><span class="glyphicon glyphicon-plus"></span> Add student</a></li>
                <li><a href="" ng-click="administrationCtrl.addSeminarGroup()"><span class="glyphicon glyphicon-plus"></span> Add seminar group</a></li>
            </ol>
        </div>
    </div>
    <div class="panel-body">
        <div ui-view="administration-content" class="col-lg-12" style="padding: 5px">
        </div>
    </div>
</div>