<div style="padding: 0">
    <div class="well col-lg-12" style="padding: 0; margin-bottom: 0; padding: 4px">
        <div class="col-lg-9">
            <div class="col-lg-12">
                {{ lastname }}, {{ firstname }}
            </div>
        </div>
        <div class="col-lg-3" style="padding-right: 0; padding-left: 9px">
            <a href="" ng-click="custodianCtrl.load()" style="margin-right: 7px"><span class="glyphicon glyphicon-pencil" style="font-size: 0.85em"></span></a>
            <a href="" ng-click="custodianCtrl.delete()"><span class="glyphicon glyphicon-trash" style="font-size: 0.85em"></span></a>
        </div>
    </div>
</div>