<div class="list-group-item col-lg-12">
    <div class="col-lg-9" style="float: left">
        {{ lastname }}, {{  firstname }}
    </div>
    <div class="col-lg-3" style="padding-right: 0; padding-left: 12px">
        <a href="" ng-click="studentCtrl.load()" style="margin-right: 7px"><span class="glyphicon glyphicon-pencil" style="font-size: 0.85em"></span></a>
        <a href="" ng-click="studentCtrl.delete()"><span class="glyphicon glyphicon-trash" style="font-size: 0.85em"></span></a>
    </div>
    <div class="col-lg-12" style="float: left">
        {{ seminarGroup }}
    </div>
</div>