<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>Conversations
            </div>
            <!--<div style="text-align: right">
                <a href="" ng-show="showGoBack" ng-click="messagesCtrl.goBack()">Back</a>
                <a href="" ng-show="showGoForward" ng-click="messagesCtrl.goForward()">Forward</a>
            </div>-->
        </div>
        <div class="panel-body" style="padding: 0px">
            <!--<new-conversation></new-conversation>-->
            <conversation-overview></conversation-overview>
            <!--<conversation></conversation>-->
        </div>
    </div>
</div>